*{
	margin:0;
	padding: 0;
}


body{
	width: 60%;
	margin:10px auto;
}

.accordion {
    background-color: rgba(0,0,0,.7);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    padding:15px 38px;
    width: 100%;
    text-align: left;
    border: none;
    transition: 0.4s;
}

.parent_panel{
	position: relative;
	border: 1px solid rgba(0,0,0,.8);
}

.panel{
	padding: 15px 28px;
	display: none;
	background-color:#99ddff;
    color: black;
}

.icon{
	position: absolute;
	top: 11px;
	cursor: pointer;
	left: -16px;
	height: 30px;
	width: 30px;
	line-height: 30px;
	background-color: rgb(155, 249, 14);
	text-align: center;
	border-radius: 5px;
	color:  green;
	box-shadow: inset 0px 6px 8px 2px #f4f9f4ab;
}

.changeColor{
	color: rgb(155, 249, 14);
}
